@{
    Layout = "layouts/_main.cshtml";
}

    <section>
        <div class="w-100 pt-100 black-layer opc5 pb-80 position-relative">
            <div class="fixed-bg" style="background-image: url(/themes/humeyrafiliz/images/pag-top-bg.jpg);"></div>
            <div class="container">
                <div class="page-title-wrap text-center w-100">
                    <div class="page-title-inner d-inline-block">
                        <h1 class="mb-0">Archive Page</h1>
                        <ol class="breadcrumb mb-0 justify-content-center">
                            <li class="breadcrumb-item"><a href="/" title="">Ana Sayfa</a></li>
                            <li class="breadcrumb-item active">@Model.Category</li>
                        </ol>
                    </div>
                </div><!-- Page Title Wrap -->
            </div>
        </div>
    </section>
    <partial name="post/view-list.cshtml" />
