@using Blog.Shared.Resources
@using Blog.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@inject ICategoryProvider _categoryProvider

@{
    var categories = await _categoryProvider.Categories();
    var catUrl = Url.Content("~/categories");
}

<div class="header-search d-flex flex-wrap align-items-center position-fixed w-100">
    <span class="search-close-btn position-absolute"><i class="fas fa-times"></i></span>
    <form class="w-100 position-relative">
        <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
        <input type="text" placeholder="Search">
    </form>
</div><!-- Header Search -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <div class="rspn-scil d-inline-flex flex-wrap">
            <a class="twitter-hvr" href="https://twitter.com/" title="Twtiiter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="facebook-hvr" href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="youtube-hvr" href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="linkedin-hvr" href="https://www.linkedin.com/" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <form class="rspn-srch">
            <input type="text" placeholder="Enter Your Keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="lg-mn">
        <div class="logo"><h1 class="mb-0 d-block"><a href="/" title="Home"><img src="~/themes/humeyrafiliz/images/logo6.png" alt="Logo"></a></h1></div>
        <div class="rspn-cnt">
            <span><i class="thm-clr far fa-envelope"></i><a href="mailto:info@youremailid.com" title="">info@youremailid.com</a></span>
            <span><i class="thm-clr fas fa-phone-alt"></i>+96 125 554 24 5</span>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul class="mb-0 list-unstyled w-100">
            <li class="menu-item-has-children">
                <a href="javascript:void(0);" title="">Home</a>
                <ul class="mb-0 list-unstyled">
                    <li><a href="index.html" title="">Homepage 1</a></li>
                    <li><a href="index2.html" title="">Homepage 2</a></li>
                    <li><a href="index3.html" title="">Homepage 3</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="javascript:void(0);" title="">Blog</a>
                <ul class="mb-0 list-unstyled">
                    <li><a href="blog.html" title="">Blog Style 1</a></li>
                    <li><a href="blog2.html" title="">Blog Style 2</a></li>
                    <li><a href="blog3.html" title="">Blog Style 3</a></li>
                    <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="javascript:void(0);" title="">Pages</a>
                <ul class="mb-0 list-unstyled">
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);" title="">Our Gallery</a>
                        <ul class="mb-0 list-unstyled">
                            <li><a href="gallery.html" title="">Gallery Style 1</a></li>
                            <li><a href="gallery2.html" title="">Gallery Style 2</a></li>
                            <li><a href="gallery3.html" title="">Gallery Style 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);" title="">Our Services</a>
                        <ul class="mb-0 list-unstyled">
                            <li><a href="services.html" title="">Services</a></li>
                            <li><a href="service-detail.html" title="">Service Detail</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);" title="">Our Stories</a>
                        <ul class="mb-0 list-unstyled">
                            <li><a href="stories.html" title="">Success Stories</a></li>
                            <li><a href="storie-detail.html" title="">Story Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);" title="">Our Team</a>
                        <ul class="mb-0 list-unstyled">
                            <li><a href="team.html" title="">Team</a></li>
                            <li><a href="team-detail.html" title="">Team Detail</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);" title="">Our Courses</a>
                        <ul class="mb-0 list-unstyled">
                            <li><a href="courses.html" title="">Courses</a></li>
                            <li><a href="course-detail.html" title="">Course Detail</a></li>
                        </ul>
                    </li>
                    <li><a href="appointment.html" title="">Appointment</a></li>
                    <li><a href="archive.html" title="">Archive Page</a></li>
                    <li><a href="counselling.html" title="">Counselling</a></li>
                    <li><a href="search-found.html" title="">Search Found</a></li>
                    <li><a href="404.html" title="">404 Error Page</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="javascript:void(0);" title="">Products</a>
                <ul class="mb-0 list-unstyled">
                    <li><a href="products.html" title="">Products</a></li>
                    <li><a href="product-detail.html" title="">Product Detail</a></li>
                </ul>
            </li>
            <li><a href="about.html" title="">About</a></li>
            <li><a href="contact.html" title="">Contact</a></li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
