@using Blog.Shared.Resources
@using Blog.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer

<section>
    <div class="w-100 pt-100 gray-layer opc2 pb-100 position-relative">
        <div class="fixed-bg" style="background-image: url(/themes/humeyrafiliz/images/parallax-bg8.jpg);"></div>
        <div class="container">
            <div class="get-time-request-wrap position-relative w-100">
                <div class="row mrg30">
                    <div class="col-md-12 col-sm-12 col-lg-6">
                        <div class="request-consult-wrap2 z1 brd-rd10 position-relative overflow-hidden blue-layer3 opc98 text-center w-100" style="background-image: url(assets/images/pattern-bg1.jpg)">
                            <div class="request-consult-title2 w-100">
                                <h3 class="mb-0">Request a Free Consultation</h3>
                                <p class="mb-0">Fill out the form below and we'll get back shortly.</p>
                            </div>
                            <form class="w-100 d-inline-block">
                                <div class="field-box"><input class="brd-rd5" type="text" placeholder="Complete Name *"></div>
                                <div class="field-box"><input class="brd-rd5" type="email" placeholder="Email Address *"></div>
                                <div class="field-box"><input class="brd-rd5" type="tel" placeholder="Phone No *"></div>
                                <div class="btn-box"><button class="thm-btn scndry-bg brd-rd5 position-relative overflow-hidden" type="submit">Next Step</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-6">
                        <div class="get-time-wrap position-relative w-100">
                            <div class="get-time-inner d-inline-block w-100">
                                <div class="sec-title v2 w-100">
                                    <div class="sec-title-inner">
                                        <span class="thm-clr d-block">Work Shedule</span>
                                        <h2 class="mb-0">Get In Touch In The Mean Time.</h2>
                                        <p class="mb-0">Adipisicing elit sed dole there eiusmod tempor incididub labore dolore magna aliqua denim ads minim veniam quis nostrud.</p>
                                    </div>
                                </div><!-- Sec Title -->
                                <div class="get-time-box brd-rd10 bg-white w-100">
                                    <span class="d-flex flex-wrap justify-content-between align-items-center w-100">Monday - Thursday <i>09:00am - 05:00pm</i></span>
                                    <span class="d-flex flex-wrap justify-content-between align-items-center w-100">Friday <i>01:00am - 05:00pm</i></span>
                                    <span class="d-flex flex-wrap justify-content-between align-items-center w-100">Saturday - Sunday <i>09:00am - 05:00pm</i></span>
                                </div>
                                <div class="view-more mt-50 d-inline-block w-100">
                                    <p class="mb-0">Want to Visit Our Clinic? Please <a class="simple-link thm-clr d-inline-block" href="contact.html" title="">Get In Touch</a> with us</p>
                                </div><!-- View More -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Get Time & Request Consultation Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-55 pb-55 position-relative">
        <div class="container">
            <ul class="spnsr-list d-flex flex-wrap justify-content-center align-items-center list-unstyled w-100">
                <li>
                    <div class="spnsr-box text-center w-100">
                        <a href="javascript:void(0);" title=""><img class="img-fluid" src="~/themes/humeyrafiliz/images/resources/spnsr-img1-1.png" alt="Sponsor Image 1"></a>
                    </div>
                </li>
                <li>
                    <div class="spnsr-box text-center w-100">
                        <a href="javascript:void(0);" title=""><img class="img-fluid" src="~/themes/humeyrafiliz/images/resources/spnsr-img1-2.png" alt="Sponsor Image 2"></a>
                    </div>
                </li>
                <li>
                    <div class="spnsr-box text-center w-100">
                        <a href="javascript:void(0);" title=""><img class="img-fluid" src="~/themes/humeyrafiliz/images/resources/spnsr-img1-3.png" alt="Sponsor Image 3"></a>
                    </div>
                </li>
                <li>
                    <div class="spnsr-box text-center w-100">
                        <a href="javascript:void(0);" title=""><img class="img-fluid" src="~/themes/humeyrafiliz/images/resources/spnsr-img1-4.png" alt="Sponsor Image 4"></a>
                    </div>
                </li>
            </ul><!-- Sponsors List -->
        </div>
    </div>
</section>
